@import url('https://fonts.googleapis.com/css?family=Oswald');


body{

    font-family:"Oswald";
    margin:0;
}

.encabezado{

    background-color:#202021;
    width:100%;
    position:fixed;
    z-index: 1;
}

.divlogo{

    padding-top: 20px;
    width:100%;

}

.divlogo img{

    width:10%;
    height:auto;
    display:block;
    margin:auto;

}


.menu{

    width:100%;
    background-color:red;
    text-align: center;

}

.menu ul{

    padding:10px;
    margin-bottom:0px;
}

.menu ul li{

    display:inline;
    list-style: none;
    padding: 10px 80px 10px 80px;
    color: white;
    font-size: 20px;
    font-weight:bold;
}

.menu ul a{

    text-decoration:none;

}

.menu ul li:hover{

    background-color:#a30d0d;

}

#contenido{

    margin-top:180px;
    position:absolute;
    width: 100%;
}

#imagenHistoria{

    position:absolute;
    display:block;
    width: 100%;

}


#imagenHistoria img {

    display:block;
    margin:auto;
    width: 100%;
    height:65%
}

#overlayHistoria{

    position: absolute;
    color:white;
    background-color:black;
    width: 100%;
    height:100%;
    opacity:0.7;
    text-align: center;

}

#overlayHistoria h1{

    padding-top: 130px;
    font-weight: bold;
    font-size:60px;

}

#overlayHistoria p{

    font-size:30px;

}

#divTabla{
    position:relative;
    margin:auto;
    margin-top:700px;
    width:75%;

}

#contenidoIzda{

    float:left;
    width:50%;
    font-size:20px;

}

#contenidoDrcha{
    float:right;

}